@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.slide-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.left-slide{
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-slide h1 {
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide{
    width: 65%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
}

.right-slide > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  z-index: 100;
}

button:hover {
  opacity: 0.8;
  color: #222;
}

.buttons button {
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 100;
}

.down {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.up {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}